<% include header %>

<div class="row container-fluid">
	<div class="row">
		<div class="col-sm-4"><h2>"<%= title %>"</h2></div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">
			<form action="/edit_document" method="post">
				<input type="hidden" name="editdoctitle" id="editdoctitle" value="<%= title %>">
				<input type="hidden" id="editor1" name="item" rows="10" cols="80" value="<%= todos[0].item %>"></textarea>
				<p class="text-center"><button type="submit" class="btn btn-primary" style="margin: 20px 0;">edit</button></p>
			</form>
			마지막 편집시간 : <%- todos[0].editedTime %>
		</div>
	</div>

</div>
	<%- todos[0].item %>
  </body>

</html>
